// wcześniejsze problemy wynikały z tego, że kontenery od samej góry nie zajmowały przestrzeni, więc flex dużo nie mógł poradzić

// zapewniamy, żeby body zajmowało cały ekran, nawet gdy jest puste

.header {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  color: white;
  align-content: center;
  font-size: 24px;
  background-color: navy;
  border-radius: 20px;
  height: 100px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

button {
  background-color: #008cba;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 5px;
  border: none;
}

button:hover {
  opacity: 0.7;
}

input {
  width: 120px;
  height: 25px;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 20px;
  color: navy;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center; /* align horizontal */
  align-items: center;
  margin-top: 20px;
}

.stack, .size, .last-popped {
  font-size: 24px;
  color: navy;
  margin-bottom: 10px;
}

.stack-content {
  display: flex;
  flex-direction: column;
}

.stack-element {
  border: 1px solid blue;
}